body{
    background-color: #a3c1ad;
}

.title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.textbody body{
    padding: 10%;
    margin:10%;
}
/*#######################
# CSS for Resume Button #
#######################*/

.resume a {
    padding: 8px;
    background-color: teal;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.resume a:hover {
    background-color: thistle;
    color: #000;
    font-weight: bolder;
    
}

/*#########################
# CSS for Shoplist Button #
#########################*/

.shopbox {
    margin: 5%;
    border-radius: 20%;
    background: thistle;
}

.shopbox p {
    margin: 5%;
    padding: 5%;
}
/*###########################
# CSS for Social Media Page #
###########################*/

.socc_medd table {
    align-content: center;
    width: 50%;
}

.socc_medd tr {
    text-align: center;
}

.socc_medd td {
    padding: 3%;
}

.socc_medd a {
    padding: 8px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: inherit;
    text-decoration: none;   
}

.socc_medd a:hover {
    color: crimson;
    background-color: aqua;
}

/*########################
# CSS for Navigation Bar #
########################*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color: #045b62;
    text-align: center;
}

.navbar li {
  display: inline;
}

.navbar a {
    display: inline-block;
    padding: 8px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: inherit;
    text-decoration: none;
    color: #fff;   
}

.navbar a:hover {
    background-color: #000;
}

/*##########################
# CSS for Collapsing Boxes #
##########################*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-top: 1%;
    align-content: center;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion button {
    font-size: 15px;
}

.accordion::after {
    content: "\02795";
    float: right;
}

.active, .accordion:hover {
    background-color: S#ccc; 
}

.active:after {
    content:"\2796";
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}