body{
    background-color: #a3c1ad;
}

.title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.textbody body{
    padding: 10%;
    margin:10%;
}
/*#######################
# CSS for Resume Button #
#######################*/

.resume a {
    padding: 8px;
    background-color: teal;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.resume a:hover {
    background-color: thistle;
    color: #000;
    font-weight: bolder;
    
}

/*########################
# CSS for Navigation Bar #
########################*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color: #045b62;
    text-align: center;
}

.navbar li {
  display: inline;
}

.navbar a {
    display: inline-block;
    padding: 8px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: inherit;
    text-decoration: none;
    color: #fff;   
}

.navbar a:hover {
    background-color: #000;
}